.header-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.header-wrapper > div {
    flex: 1;
    width: 100%;
    height: 100%;
}

.header-left {
    background-color: var(--dark-blue);
    border-bottom-right-radius: 265px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-illust-wrapper {
    max-width: 633px;
    height: auto;
    width: 100%;
    position: relative;
}

.header-illust-wrapper img {
    height: 100vh;
    position: absolute;
    top: -70px;
    right: 0;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px 0 7%;
}

.header-right-wrapper {
    position: relative;
    max-width: 390px;
    width: 100%;
    height: auto;
}

.header-leaf {
    background-color: var(--light-blue);
    opacity: 0;
    width: 100%;
    height: 258px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    position: relative;
}

.icon-name-div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.header-icons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 20px;
    bottom: 52px;
    right: -16px;
}

.header-icons > div {
    opacity: 0;
    max-width: 90px;
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    top: 30px;
}
.header-icons > div > svg {
    width: 100%;
}

.header-name {
    position: relative;
    /* top: -50px; */
    top: -10px;
    left: 40px;
    max-width: 312px;
    width: 90%;
    height: auto;
}

.header-name > svg {
    width: 100%;
}

.name-holly {
    stroke-width: 1.5px;
    stroke: var(--med-blue);
    stroke-dasharray: 390px;
    stroke-dashoffset: 390px;
}
.name-fig {
    stroke-width: 1.5px;
    stroke: var(--dark-blue);
    stroke-dasharray: 806px;
    stroke-dashoffset: 806px;
}

@media only screen and (max-width: 768px) {

    .header-wrapper {
        flex-direction: column;
        row-gap: 7%;
    }

    .header-wrapper {
        height: 95vh;
    }

    .header-left {
        border-bottom-right-radius: 0;
    }

    .header-illust-wrapper img {
        height: 70vh;
        position: absolute;
        top: -10px;
        right: 0;
    }

    .header-right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3%;
    }

    .header-leaf {
        height: auto;
        aspect-ratio: 1.4 / 1;
    }
}

@media only screen and (max-width: 425px) {

    .header-wrapper {
        row-gap: 2%;
    }

    .icon-name-div {
        max-width: 290px;
    }

    .header-right-wrapper {
        display: flex;
        justify-content: center;
    }

    .header-name {
        position: relative;
        top: -10px;
        left: initial;
        max-width: none;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .header-name > svg {
        max-width: 320px;
        width: 90%;
    }

    .header-icons {
        right: initial;
        bottom: 79px;
    }

    .header-icons > div {
        max-width: none;
        width: 25vw;
        aspect-ratio: 1 / 1;
    }
}

@media only screen and (max-width: 320px) {
.header-icons {
    bottom: 40%;
}
}