* {
  box-sizing: border-box!important;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1FAEE;
}

:root {
  --cream: #F1FAEE;
  --red : #E63946;
  --light-blue: #A8DADC;
  --med-blue: #457B9D;
  --dark-blue: #1D3557;
  --charcoal: #18252C;
  --standard-width: 1200px;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-extra-light {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extra-bold {
  font-weight: 800;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spacer {
  height: 13vh;
  width: 100%;
}

.subheader {
  font-family: Raleway;
font-size: 55px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
color: var(--dark-blue)
}

@media only screen and (max-width: 425px) {
  .spacer {
    height: 3vh;
    }
}
