.nav-wrapper {
    --height: 60px;
    width: 100%;
    height: var(--height);
    position: fixed;
    overflow: hidden;
    z-index: 10;
}

.nav-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bg {
    background-color: var(--cream);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: var(--height);
    transition: bottom .2s ease-out
}

.nav-content-wrap {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    max-width: var(--standard-width);
    width: 100%;
    height: 100%;
}

.nav-content {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5%;
    padding: 0 15px;
}

.nav-content > div {
    text-transform: uppercase;
    color: var(--red);
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content > div:not(:last-child)::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--red);
    position: absolute;
    bottom: 0;
    transition: width .2s ease-out;
}

.nav-content > div:not(:last-child):hover::after {
    width: 100%;
}

#nav-contact {
    border:3px solid var(--red);
    height: 70%!important;
    width: 110%!important;
    transition: all 170ms ease-out;
    background-color: transparent;
}

#nav-contact:hover {
    background-color: var(--red);
    color: var(--cream);
}

@media only screen and (max-width: 768px) {
    .nav-wrapper {
        --height: 45px;
    }

    .nav-bg {
        bottom: 0;
    }

    .nav-content-wrap {
        justify-content: center;
    }

    .nav-content {
        max-width: 320px;
        width: 100%;
        padding:0 10px;
        column-gap: 10%;
    }

    .nav-content > div {
        text-transform: uppercase;
        color: var(--red);
        font-size: 12px;
    }
}
