.work-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.work-content {
    max-width: var(--standard-width);
    width: 100%;
    padding:0 10px;
}

.work-header {
    /* margin: 0 0 3% 0; */
}

.work-nav {
    --width: 250px;
    border:2px solid var(--med-blue);
    border-radius: 100em;
    max-width: var(--width);
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 10px 0 0 0;
}

.work-nav-contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--med-blue);
    font-size: 12px;
    
}

.work-nav-contents > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.work-nav-filler {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--width) / 3);
    height: 100%;
    background-color: var(--med-blue);
    border-radius: 100em;
    border:1px solid var(--med-blue);
    transition: left .3s ease-out;
}

.current {
    color: var(--cream)!important;
    transition: color .8s ease-out;
}

/* * Gallery */

.gallery-prev-wrapper {
    width: 100%;
    height: 254px;
    padding: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: repeat(3, 234px); */
    column-gap: 15px;
    justify-content: start;
    margin: 2% 0;
}

.gallery-thumb {
    width: 234px;
    aspect-ratio: 1 / 1;
    border-bottom-right-radius: 63px;
    background-size: contain;
    opacity: 0;
    cursor: pointer;
    position: relative;
    left: 40px;
}

.gallery-thumb:hover {
    opacity: 1;
}

/* * Display */

.display-wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;
    column-gap: 5%;
    transform-origin: top center;
    height: 0; /* Start at height 0 */
  }

.display-wrapper > div {
    padding: 3% 0;
}

.display-left {
    flex: 1.3;
    position: relative;
    /* min-height: 50vh; */
    /* height: auto; */
}

.left-leaf-bg {
    max-width: 480px;
    width: 80%;
    aspect-ratio: 2 / 1.4;
    background-color: var(--red);
    border-top-left-radius: 213px;
    border-bottom-right-radius: 213px;
    position: absolute;
    left: 0;
    bottom: 20%;
}

.left-display-div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    right: 30px;
}


.display-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.display-right-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.display-name {
    text-transform: capitalize;
    color: var(--med-blue);
    font-size: 30px;
}

.display-desc {
    color: var(--dark-blue);
    font-size:18px;
}

.display-tools {
    font-size: 10px;
    color: var(--dark-blue);
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 6px;
}

.display-tools > div {
    border:2px solid var(--dark-blue);
    padding:3px 5px;
    border-radius: 100em;
    cursor:default;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-buttons-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    column-gap: 3%;
    margin: 5% 0 0 0;
}

.display-buttons-div > div {
    flex: 1;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--med-blue);
    transition: color .3s ease-out;
}

.site-btn-wrapper svg, .github-btn-wrapper svg {
    fill: var(--med-blue);
    transition: fill .3s ease-out;
}

.display-buttons-div > div:hover {
    color: var(--cream);
}

.site-btn-wrapper:hover svg, .github-btn-wrapper:hover svg {
    fill: var(--cream);
}

.site-btn-wrapper::before, .github-btn-wrapper::before {
    content: '';
    background-color: var(--red);
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    transition: height .3s ease-out;
}

.site-btn-wrapper:hover::before, .github-btn-wrapper:hover::before {
    height: 100%;
}

.site-btn-content, .github-btn-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-size: 18px;
    position: relative;
}

.btn-link {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    color: transparent;
}